{{#partial "content"}}
    <link rel="stylesheet" href="/css/style.css">

    <div class ="container mt-5 text-center w-75 align-items-center home">
        <br>
        <br>
        <br>
        <br>
        <div class = "row mt-5">
            <h1>Wildlife-Tracker</h1>
            <p>Help us save wildlife. And any sightings of animals seen in nearby locations. Your information will go a long way in helping us keep track of wild animals.</p>
        </div>
        <br>
        <br>
        <br>
        <br>
                <a href="/animals-form"><button type="submit" class="btn btn-transparent text-white" style="...">Add Sighting</button> </a></div>

    </div>
{{/partial}}

{{> layout.hbs}}